a.tag {
    font-family: 'PTSans';
    text-decoration: none;            
}

li.cnt {
    overflow: hidden;
    position: absolute;
    display: block;    
}

text:hover {
    opacity: 0.7;
}

.main {
    height: 400px;
}

#wordcloud {
    padding: 14px;
}
