<p>텍스트를 입력하면 빈도 높은 명사를 세어 워드 클라우드로 그려줍니다.</p>
<p>한국어 텍스트 처리에는 <b>파이썬 한국어 분석 패키지 <a href="http://konlpy.org">KoNLPy</a></b>가 사용되었습니다.<br>
하단의 옵션을 다양하게 바꿔가며 워드 클라우드를 직접 만들어보세요!</p>
<p>(Selectable fonts:
    <span class='hanna'>한나체</span>,
    <span class='kopub-batang'>코펍 바탕체</span>,
    <span class='nanum-brush-script'>나눔 브러시 스크립트체</span>)
</p>
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="option">
            <p>폰트</p>
            <div class="form-group">
                <select id="custom-font" class="form-control">
                    <option value="hanna">한나체</option>
                    <option value="kopub batang">코펍 바탕</option>
                    <option value="nanum brush script">나눔 브러시 스크립트체</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="option">
            <p>배경색</p>
            <select id="bgcolor" class="form-control">
                <option value="#f5f5f5">Light gray</option>
                <option value="#fff">White</option>
                <option value="#000">Black</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="option">
            <p>단어 개수</p>
            <select id="ntags" class="form-control">
                {% for i in range(1, 11) %}
                <option>{{ i*10 }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="option">
            <p>최소 음절수</p>
            <select id="minsyl" class="form-control">
                {% for i in range(1, 4) %}
                <option>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="option">
            <p>형태소 분석기</p>
            <select id="tagger" class="form-control">
                <option value="">사용하지 않음</option>
                <option value="Hannanum">한나눔</option>
                <option value="Kkma">꼬꼬마</option>
                <option value="Mecab" disabled>MeCab-ko</option>
            </select>
        </div>
    </div>
</div>
<textarea id="wordtext" class="form-control" rows="10">{{ text }}</textarea>
<form role="form" id="button-create">
    <button type="submit" class="btn btn-primary btn-lg">Create!</button>
</form>
