<p>텍스트를 입력하면 빈도 높은 명사를 세어 워드 클라우드로 그려줍니다.</p>
<p>한국어 텍스트 처리에는 <b>파이썬 한국어 분석 패키지 <a href="http://konlpy.org">KoNLPy</a></b>가 사용되었습니다.<br>
하단의 옵션을 다양하게 바꿔가며 워드 클라우드를 직접 만들어보세요!</p>
<p>(Selectable fonts:
    <span class='hanna'>한나체</span>,
    <span class='kopub-batang'>코펍 바탕체</span>,
    <span class='nanum-brush-script'>나눔 브러시 스크립트체</span>)
</p>
<hr>
<form role="form" id="button-create" action="/" method="POST">
<div class="row">
    <div class="col-md-4">
        <div class="option">
            <p>폰트</p>
            <div class="form-group">
                <select name="font" class="form-control">
                    <option value="hanna"{% if request.form.font=='hanna' %} selected{% endif %}>한나체</option>
                    <option value="kopub batang"{% if request.form.font=='kopub batang' %} selected{% endif %}>코펍 바탕</option>
                    <option value="nanum brush script"{% if request.form.font=='nanum brush script' %} selected{% endif %}>나눔 브러시 스크립트체</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="option">
            <p>배경색</p>
            <select id="bgcolor" name="bgcolor" class="form-control">
                <option value="#000"{% if request.form.bgcolor=='#000' %} selected{% endif %}>Black</option>
                <option value="#fff"{% if request.form.bgcolor=='#fff' %} selected{% endif %}>White</option>
                <option value="#f5f5f5"{% if request.form.bgcolor=='#f5f5f5' %} selected{% endif %}>Light gray</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="option">
            <p>회전</p>
            <select name="rotated" class="form-control">
                <option value=1{% if request.form.rotated=='1' %} selected{% endif %}>True</option>
                <option value=0{% if request.form.rotated=='0' %} selected{% endif %}>False</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="option">
            <p>단어 개수</p>
            <select name="ntags" class="form-control">
                {% for i in range(10, 110, 10) %}
                <option{% if request.form.ntags==i|string() %} selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="option">
            <p>최소 음절수</p> <select name="minsyl" class="form-control">
                {% for i in range(1, 4) %}
                <option{% if request.form.minsyl==i|string() %} selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="option">
            <p>형태소 분석기<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="형태소 분석기를 사용하지 않으면, 마침표 등의 특수기호만 제외하고 공백을 기준으로 나눕니다."></span></p>
            <select id="tagger" name="tagger" class="form-control">
                <option value=""{% if request.form.tagger=='' %} selected{% endif %}>사용하지 않음</option>
                <option value="Hannanum"{% if request.form.tagger=='Hannanum' %} selected{% endif %}>한나눔</option>
                <option value="Kkma"{% if request.form.tagger=='Kkma' %} selected{% endif %}>꼬꼬마</option>
                <option value="Mecab"{% if request.form.tagger=='Mecab' %} selected{% endif %}>MeCab-ko</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 option">
        <!-- TODO: disable checkboxes if tagger is not used -->
        <p>품사</p>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="noun" name="noun" value="N"{% if request.form.noun  or init %} checked{% endif %}{% if init %} disabled{% endif %}> 체언 (N)
            </label>
            <label>
                <input type="checkbox" id="verb" name="verb" value="VP"{% if request.form.verb or init %} checked{% endif %}{% if init %} disabled{% endif %}> 용언 (V)
            </label>
        </div>
    </div>
    <div class="col-md-8 option">
        <p>불용어<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="불용어(stopwords)는 불용어는 워드클라우드를 그릴 때 제외됩니다."></span></p>
        <textarea name="stopwords" class="form-control" rows="1">{{ stopwords }}</textarea>
    </div>
</div>
<textarea id="wordtext" name="wordtext" class="form-control" rows="10">{{ text }}</textarea>
<button type="submit" class="btn btn-primary btn-lg" value="Send">Create!</button>
</form>
