{% extends "layout.html" %}

{% block contents %}
<h2>FAQ</h2>

<h3>라이센스가 뭔가요?</h3>
<p>{{ BRAND }}의 코드의 라이센스는 <a href="http://apache.org/licenses/LICENSE-2.0.html">Apache v2</a>입니다.</p>

<h3>상업적 용도로 사용할 수 있나요?</h3>
<p>네!</p>
<p>{{ BRAND }}를 통해 얻으신 모든 결과물은 어떠한 제약없이 어떠한 용도로도 자유롭게 이용하실 수 있습니다.</p>

<h3>소스코드를 볼 수 있나요?</h3>
<p>네!</p>
<p><a href="http://github.com/e9t/docscout">깃헙</a>에 공개되어 있습니다. 마음껏 <a href="http://github.com/e9t/docscout/issues">새로운 이슈를 제안</a>하거나 포크해서 <a href="http://github.com/e9t/docscout/pulls">풀리퀘스트</a>를 보내실 수 있습니다.</p>

<h3>다른 문의사항은 어디로 하면 되나요?</h3>
<p><a href="mailto:epark@dm.snu.ac.kr">epark@dm.snu.ac.kr</a>로 이메일을 보내주세요!</p>
{% endblock %}
