{% extends "layout.html" %}

{% block extra_headers %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hanna.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/kopubbatang.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nanumbrushscript.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
<style>
  .hanna { font-family: hanna; }
  .kopub-batang { font-family: kopub batang; }
  .nanum-brush-script{ font-family: nanum brush script; }
</style>
{% endblock %}

{% block contents %}
<div class="row">
    <div id="col-left" class="col-md-6">
        {% include "col-left.html" with context%}
    </div>
    <div id="col-right" class="col-md-6">
        {% include "col-right.html" with context %}
    </div>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/wordcloud.css') }}">
<script type="text/javascript">
var width = 500, height = 500;

$(function() {
  var fill = d3.scale.category20();

  d3.layout.cloud().size([width, height])
    .words({{ tags|tojson|safe }})
    .padding(5)
    .rotate(function() { return ~~(Math.random() * 2) * 90 * {{ request.form.rotated|default(1) }} ; })
    .fontSize(function(d) { return d.size; })
    .on("end", draw)
    .start();

  $("#info").empty();
  var info = d3.select("#info");
  info.append("span").text("Time: " + Math.round({{ time|default(0) }}*100)/100 + "s");
  info.append("span").text("Text length: " + {{ textlen }});
  info.append("span").text("ntags: " + {{ ntags|default(10) }});

  var style = document.createElement('style');
  style.type = 'text/css';
  style.innerHTML = "div#wordcloud { background-color: {{ request.form.bgcolor|default('#000') }}; } div#wordcloud text { font-family: '{{ request.form.font|default('hanna') }}'; }";
  document.getElementById('wordcloud').appendChild(style);

  function draw(words) {
    $("div#wordcloud").empty(); // clear div before generating
    d3.select("div#wordcloud").append("svg")
        .attr("width", width)
        .attr("height", height)
      .append("g")
        .attr("transform", "translate(250,250)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
      .text(function(d) { return d.text; });
  };

  $(function () {
        $('[data-toggle="tooltip"]').tooltip()
  });
});
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.zclip.js') }}"></script>
<script>
$(document).ready(function(){
    // add copy svg button
    $("a#copy-dynamic").zclip({
       path: "{{ url_for('static', filename='ZeroClipboard.swf') }}",
       copy: function(){return $("div#wordcloud").html();}
    });

    // disable submit if no checkboxes are selected
    var checkboxes = $("input[type='checkbox']"),
        submitButt = $("button[type='submit']");

    checkboxes.click(function() {
        submitButt.attr("disabled", !checkboxes.is(":checked"));
    });
});
</script>
{% endblock %}
