{% extends "layout.html" %}

{% block extra_headers %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hanna.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/kopubbatang.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nanumbrushscript.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
<style>
  .hanna { font-family: hanna; }
  .kopub-batang { font-family: kopub batang; }
  .nanum-brush-script{ font-family: nanum brush script; }
</style>
{% endblock %}

{% block contents %}
<div class="row">
    <div id="col-left" class="col-md-6">
        {% include "col-left.html" with context%}
    </div>
    <div id="col-right" class="col-md-6">
        {% include "col-right.html" with context %}
    </div>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/wordcloud.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/wordcloud.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.zclip.js') }}"></script>
<script>
$(document).ready(function(){
    $("a#copy-dynamic").zclip({
       path: "{{ url_for('static', filename='ZeroClipboard.swf') }}",
       copy: function(){return $("div#wordcloud").html();}
    });
});
</script>
{% endblock %}
